<div>
  <h2><a href="http://github.com/dolzenko/scholarly">Scholarly</a> parsed: <%= @scholar.files_count %> </h2>

  <% total = @scholar.delegates_to_association.size + @scholar.delegates_to_else.size %>

  <%= render "report_part",
             :entries => @scholar.delegates_to_association,
             :total => total,
             :title => "Classes delegating to association",
             :sample => <<-RUBY
class Post
  belongs_to :blog
  delegate :sub_domain, :to => :blog
end
             RUBY
  %>

  <%= render "report_part",
             :entries => @scholar.delegates_to_else,
             :total => total,
             :title => "Classes delegating to something else",
             :sample => <<-RUBY
class Post
  belongs_to :blog
  delegate :sub_domain, :to => :meth

  def meth
    # ... 
  end
end
             RUBY
  %>
</div>