<!DOCTYPE html>
<html>
<head>
  <title>Scholarly</title>
  <%= stylesheet_link_tag "scholarly" %>
  <%= javascript_include_tag "jquery-1.4.2", "scholarly" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
